*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.container{
    display: flex;
    max-width: 1440px;
    flex-wrap: wrap;
  justify-content: center;
   
}
img {
    width: 288px;
    height:350px;
    object-fit: cover;
   
}
.container :hover{
    cursor: pointer;
    opacity: 0.5;
    transition: 0.5s;
}